<div style="display: flex; flex-direction: column; gap: 0.92vw; height: 100%; align-items: center; justify-content: center; font-family: Outfit;">
    <div class="anim-2" style="display: flex; flex-direction: column; gap: 0.45vw; align-items: center;">
        <span style="font-size: 1.55vw; font-weight: 500; color: #B4B4B4;">Lead Developer</span>
        <span style="font-size: 2vw; font-weight: 600; letter-spacing: 2%; color: #78B9B5; ">Dhafin Zhilal Syaikhoh Adz Dzaki</span>
    </div>
    <div class="anim-2" style="display: flex; flex-direction: column; gap: 0.45vw; align-items: center;">
        <span style="font-size: 1.55vw; font-weight: 500; color: #B4B4B4;">Developer</span>
        <span style="font-size: 2vw; font-weight: 600; letter-spacing: 2%; color: #78B9B5; ">Sultan Agung Ferdiansyah</span>
    </div>
    <div class="anim-2" style="display: flex; flex-direction: column; gap: 0.45vw; align-items: center;">
        <span style="font-size: 1.55vw; font-weight: 500; color: #B4B4B4;">IMG & SVG</span>
        <span style="font-size: 2vw; font-weight: 600; letter-spacing: 2%; color: #F4F4F4; ">SVGRepo & Buatan Sendiri</span>
    </div>
    <div class="anim-2" style="display: flex; flex-direction: column; gap: 0.45vw; align-items: center;">
        <span style="font-size: 1.55vw; font-weight: 500; color: #B4B4B4;">Font Usage</span>
        <span style="font-size: 2vw; font-weight: 600; letter-spacing: 2%; color: #F4F4F4; ">Outfit</span>
    </div>
</div>