.container-web {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: white;
}

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
}

.selection-menu {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.button-course {
  list-style-type: none;
  background: #78B9B5;

  display: flex;

  font-family: 'Outfit';
  font-size: 2.15vw;
  font-weight: 700;
}
