.selection-container {
  display: flex;
  flex: 1 0 0;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding-inline: 2.15vw;
}

.home-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.65vw;

  border: 0.16vw solid #78B9B5;
  border-radius: calc(infinity * 1px);
  background: #0F828C;
  padding-block: 0.26vw;
  padding-inline: 1.15vw;

  font-size: 1.25vw;
  font-weight: 600;
  font-family: 'Outfit';
  letter-spacing: 2%;
  color: #e7fcfa;

  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.home-btn:hover {
  background: #0c666e;
}

.course-menu {
  padding: 0;
  display: flex;
  gap: 0.92vw;
  flex-direction: column;
}

.windows-course-wrapper {
  display: flex;
  overflow: hidden;
  flex: 1 0 0;
  background: #202020;
  height: 78vh;
  border-radius: 1.2vw;
  border: #0F828C 0.16vw solid;
}

.toolbar-course-windows {
  background: #0F828C;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5vh;
}

input[type="radio"] {
  display: none;
}

.button-course {
  display: flex;
  align-items: center;
  gap: 0.92vw;

  border: 0.16vw solid #78B9B5;
  border-radius: calc(infinity * 1px);
  background: #0F828C;
  padding-block: 0.75vw;
  padding-inline: 0.92vw ;
  width: 28vw;

  font-size: 1.55vw;
  font-weight: 600;
  font-family: 'Outfit';
  letter-spacing: 1%;
  color: #e7fcfa;

  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.button-soon {
  display: flex;
  align-items: center;
  gap: 0.92vw;
  border: 0.16vw solid #808080;
  border-radius: calc(infinity * 1px);
  background: #202020;
  padding-block: 0.75vw;
  padding-inline: 0.92vw ;
  width: 28vw;

  font-size: 1.55vw;
  font-weight: 600;
  font-family: 'Outfit';
  letter-spacing: 1%;
  color: #bdbdbd;

  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.button-course:hover {
  background: #0c666e;
  scale: 105%;
}

.button-soon:hover {
  background: #303030;
}

input[type="radio"]:checked + .button-soon {
  background: #505050;
}

input[type="radio"]:checked + .button-course {
  background: #48abb4;
}