    @font-face {
      font-family: 'Outfit';
      src: url("/fonts/Outfit.ttf");
      font-display: block;
    }

    body {
      margin: 0;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }

    #app {
      height: 100vh;
      width: 100vw;
    }

    .block-bg {
      position: fixed;
      background: #1E1E1E;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .block-bg {
      background-image:
        conic-gradient(rgba(205, 205, 205, 0.025) 25%, transparent 25%, transparent 50%, rgba(205, 205, 205, 0.025) 50%, rgba(205, 205, 205, 0.025) 75%, transparent 75%),
        linear-gradient(150deg, #1e1e1e 10%, #1d1a1d 90%);
      background-size: 8em 8em, 100% 100%;
      animation: chesswalking 3.5s linear infinite;
    }

    @keyframes chesswalking {
      from {
        background-position: 0 0, 0 0;
      }

      to {
        background-position: 8em 8em, 0 0;
      }
    }

    .container-web {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      color: #e7fcfa;
    }

    .header-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 10vh;
      padding-inline: 0.92vw;
      display: flex;
      align-items: center;
    }

    .overlay-transition {
      z-index: 999;
      position: fixed;
      left: 0;
      right: 0;
      height: 350vh;
      background-color: #2a282c;
      border-radius: calc(infinity * 1px);
      display: none;
      outline: #3f3f3f 0.92vw solid;
    }

    .keep-overlay {
      display: block;
    }

    .loadingseq {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("/img/pattern.png");
        background-size: 100em 100em;
        background-color: #202020;
      animation: loadseqanim 10.5s linear infinite;
    }

    .spin-laoding {
      animation: spin_spin_icon 2.5s ease-in-out infinite;
    }

    @keyframes loadseqanim {
      from {
        background-position: -25em 0;
      }

      to {
        background-position: -25em 100em;
      }
    }

    @keyframes spin_spin_icon {
  0%{
    transform: rotate(-35deg);
  }
  60%{
    transform: rotate(395deg);
  }
  100%{
    transform: rotate(325deg);
  }
}

    .animate-out {
      display: block !important;
      animation:
        initial_box 2s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .animate-in {
      display: block !important;
      animation:
        uninitial_box 2s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .animate-out-1s {
      display: block !important;
      animation:
        initial_box 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .animate-in-1s {
      display: block !important;
      animation:
        uninitial_box 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .animate-out-text {
      animation:
        hidden_thing 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .initial-in {
      animation:
        initial_1 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .hide-sequence {
      opacity: 0;
    }

    .hidden-thing {
      display: none;
    }

    @keyframes initial_box {
      0% {
        translate: 0px 0px;
      }

      30% {
        translate: 0px 0px;
      }

      100% {
        translate: 0px -100%;
      }
    }

    @keyframes uninitial_box {
      0% {
        translate: 0px 100%;
      }

      30% {
        translate: 0px 100%;
      }

      100% {
        translate: 0px 0px;
      }
    }

    @keyframes hidden_thing {
      0% {
        opacity: 100;
      }

      30% {
        opacity: 100;
      }

      100% {
        opacity: 0;
      }
    }

    @keyframes initial_1 {
      0% {
        opacity: 0;
        translate: -0px -10%;
      }

      30% {
        opacity: 0;
        translate: 0px -10%;
      }

      100% {
        opacity: 1;
        translate: 0px 0px;
      }
    }

    @media screen and (orientation: portrait) and (max-width: 1024px) {
      #app {
        display: none;
      }

      .device-guard {
        display: flex;
      }
    }
