    @font-face {
      font-family: 'Outfit';
      src: url(public/fonts/Outfit.ttf);
      font-display: block;
    }

    body {
      margin: 0;
      height: 100vh;
      width: 100vw;
    }

    .overlay-transition {
      z-index: 999;
      position: fixed;
      left: 0;
      right: 0;
      height: 350vh;
      background-color: #2a282c;
      border-radius: calc(infinity * 1px);
      display: none;
      outline: #3f3f3f 0.92vw solid;
    }

    .keep-overlay {
      display: block;
    }

    .animate-out {
      display: block !important;
      animation:
        initial_box 2s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .animate-in {
      display: block !important;
      animation:
        uninitial_box 2s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .animate-out-1s {
      display: block !important;
      animation:
        initial_box 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .animate-in-1s {
      display: block !important;
      animation:
        uninitial_box 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .animate-out-text {
      animation:
        hidden_thing 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .hidden-thing {
      display: none;
    }

    @keyframes initial_box {
      0% {
        translate: 0px 0px;
      }

      30% {
        translate: 0px 0px;
      }

      100% {
        translate: 0px -100%;
      }
    }

    @keyframes uninitial_box {
      0% {
        translate: 0px 100%;
      }

      30% {
        translate: 0px 100%;
      }

      100% {
        translate: 0px 0px;
      }
    }

    @keyframes hidden_thing {
      0% {
        opacity: 100;
      }

      30% {
        opacity: 100;
      }

      100% {
        opacity: 0;
      }
    }


